name: Build and publish npm packages
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*'
jobs:
  check-build-push-clients:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Check for changes
        id: vars
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc
          if bin/unpublished-exists.sh; then
            echo 'Changes found, continuing with next step.'
            echo 'diff=1' >> $GITHUB_OUTPUT
          else
            echo 'No changes found, skipping!'
            echo 'diff=0' >> $GITHUB_OUTPUT
          fi
      - uses: actions/setup-node@v6
        if: steps.vars.outputs.diff == 1 && github.ref == 'refs/heads/main'
        with:
          node-version: '20'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@linode'
      - name: Build and publish clients
        if: steps.vars.outputs.diff == 1 && github.ref == 'refs/heads/main'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bin/generate-all.sh
          bin/release-all.sh
