name: Build and publish npm packages
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*'
jobs:
  check-build-push-clients:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Check for changes
        id: vars
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" > ~/.npmrc
          if bin/unpublished-exists.sh; then
            echo 'Changes found, continuing with next step.'
          else
            echo 'No changes found, skipping!'
            echo '::set-output name=diff::0'
          fi
      - uses: actions/setup-node@v4
        if: steps.vars.outputs.diff == 1
        with:
          node-version: '20'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@linode'
      - name: Build and publish clients
        if: steps.vars.outputs.diff == 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          bin/generate-all.sh
          bin/release-all.sh
