name: Build and publish npm packages
on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '*'
jobs:
  check-build-push-clients:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Check for changes
        id: vars
        run: |
          if ! bin/diff.sh; then
            echo 'Changes found, continuing with next step.'
            echo '::set-output name=diff::1'
          else
            echo 'No changes found, skipping!'
            echo '::set-output name=diff::0'
          fi
      - uses: actions/setup-node@v2
        if: steps.vars.outputs.diff == 1
        with:
          node-version: '14'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@redkubes'
      - name: Build and publish clients
        if: steps.vars.outputs.diff == 1
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sudo apt-get install moreutils
          bin/generate-all.sh
          bin/release-all.sh
